*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container
{
    margin: 40px;
    font-family: Abitare Sans 350;
}


input{
    padding: 8px;
    border-radius: 10px;
   border: 1px solid #8D8D8D;
   min-width: 450px;
  
}


::placeholder{
    color: #8D8D8D;
    font-size: small;
    align-items: center;
    padding-left: 8px;
    font-weight: 300;
}
.save
{
    background-color: #18853A;
    color: white;
    padding: 13px 5px;
border: none;
border-radius: 5px;
}


button {
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
   
}

.resetbtn {
    color: black;
    background-color: #B9B9B9;
    padding: 13px 5px;
    border: none;
    border-radius: 5px;
    
}
.savebtn{
    background-color: #18853A;
    color: white;
    padding: 13px 5px;
border: none;
border-radius: 5px;

}
.resetbtn,
.savebtn {
    float: left;
    width: 40%;
}
.resetbtn:hover
{
    background-color:#8f8c8c; 

}
.savebtn:hover{
    background-color: rgb(21, 114, 50);
}